<mat-card class="todo-card" *ngIf="todo && !todo.isArchived">
  <mat-card-header>
    <mat-card-title>{{ todo.title }}</mat-card-title>
    <mat-card-subtitle>{{ todo.description }}</mat-card-subtitle>
  </mat-card-header>

  <mat-card-actions>
      <button mat-raised-button color="primary" (click)="onCompleteTodo(todo)">
      {{ todo.isCompleted ? 'unComplete' : 'Complete' }}
    </button>
    <button mat-raised-button color="warn" (click)="OnArchivedTodo()">
      Archive
    </button>
    <button mat-raised-button color="accent" >Delete</button>
  </mat-card-actions>

  <app-count-down [dDay]="todo.endDate"></app-count-down>
</mat-card>
