<mat-toolbar class="header-container">
  <span>Ng-todo</span>

  <button class="home" mat-menu-item (click)="openHome()">
    <mat-icon>home</mat-icon>
  </button>

  <button
    mat-icon-button
    [matMenuTriggerFor]="menu"
    aria-label="Example icon-button with a menu"
  >
    <mat-icon>menu</mat-icon>
  </button>

  <mat-menu #menu="matMenu">

    <button mat-menu-item (click)="openSearch()" >
      <mat-icon>search</mat-icon>
      <span>Search</span>
    </button>

    <button mat-menu-item (click)="openToday()">
      <mat-icon>today</mat-icon>
      <span>Today</span>
    </button>

    <button mat-menu-item (click)="openArchiveList()">
      <mat-icon>archive</mat-icon>
      <span>Archive</span>
    </button>

    <button mat-menu-item (click)="deleteAll()">
      <mat-icon> delete_sweep</mat-icon>
      <span>Delete all Todo list</span>
    </button>
  </mat-menu>
</mat-toolbar>
