<form #f="ngForm" (ngSubmit)="onNewTodoSubmit()">
  <mat-form-field appearance="outline">
    <mat-label>Todo Name</mat-label>
    <input ngModel name="title" matInput placeholder="what is your task" />
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Todo Description</mat-label>
    <input ngModel name="description" matInput placeholder="what is your task" />
  </mat-form-field>

  <mat-form-field>
    <mat-label>Choose a date</mat-label>
    <input ngModel name="date" matInput [matDatepicker]="picker">
    <mat-hint>MM/DD/YYYY</mat-hint>
    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>

  <button mat-raised-button color="primary" type="submit">Submit</button>
</form>
