.search-container {
  padding: 10px;
  height: calc(100vh - 84px);
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: rgb(128, 132, 57);

  .search-form {
    display: flex;
    justify-content: left;
    width: 100%;
  }

  .search-bar {
    flex-grow: 1;
    max-width: 400px;

    button {
      margin-left: 10px;
    }
  }

  .content-wrapper {
    display: flex;
    width: 100%;

    .list-container {
      width: 25%;
    }

    .todo-container {
      width: 75%;
      height: 105%;
    }
  }
}
